<div class="tw-flex tw-flex-col tw-h-screen tw-items-center tw-justify-center">


    <div class="backdrop tw-flex tw-flex-col max-sm:tw-items-center tw-gap-8  tw-px-8 tw-py-8 tw-rounded-2xl ">


        <div class="card-area tw-bg-white  tw-p-8 tw-rounded-xl tw-shadow-md tw-flex tw-flex-col tw-items-center  tw-justify-center ">

            <ng-container *ngIf="_isNotLoggedIn; else successTemplate">

                <form class="tw-gap-4 tw-flex tw-flex-col tw-items-center" (ngSubmit)="onSubmit()"
                    #loginForm="ngForm">
                    <h2>Login</h2>
                    <div class="tw-bg-white tw-flex tw-flex-col tw-gap-2">
                        <label class="tw-text-slate-500 tw-text-sm" for="email">Email</label>
                        <input
                            class="tw-rounded-md tw-w-full tw-bg-transparent tw-outline tw-outline-1 tw-p-2 tw-outline-slate-400 focus-visible:tw-outline-slate-500"
                            type="email" name="email" [(ngModel)]="email" required>
                    </div>
                    <div class="tw-bg-white tw-flex tw-flex-col tw-gap-2">
                        <label class="tw-text-slate-500 tw-text-sm" for="password">Password</label>
                        <input
                            class="tw-rounded-md tw-w-full tw-bg-transparent tw-outline tw-outline-1 tw-p-2 tw-outline-slate-400 focus-visible:tw-outline-slate-500"
                            type="password" name="password" [(ngModel)]="password" required>
                    </div>
                    <button
                        class="tw-px-4 tw-py-2 tw-rounded-md tw-bg-zinc-600 tw-text-white disabled:tw-bg-zinc-200 disabled:tw-text-zinc-400"
                        type="submit" [disabled]="!loginForm.form.valid">Submit</button>
                </form>

            </ng-container>

            <!-- //angular 17 new sintax -->
            @if (_isNotLoggedIn) {
                <span>no esta logueado</span>
            }@else{
                <span>estas logueado</span>
            }

        </div>


    </div>
</div>

<ng-template #successTemplate>
    <app-success-tmpl (logout)="logout()"></app-success-tmpl>
</ng-template>