<div class="tw-flex tw-flex-col tw-items-center">
    <h2 class="tw-text-lg tw-align-middle tw-p-8 tw-text-center">Ng Template Use Case</h2>
    <div class="tw-flex tw-flex-col tw-gap-12">
        <a routerLink="/conditional" class=" tw-rounded tw-cursor-pointer hover:tw-bg-slate-200 tw-bg-slate-100">
            <h4 class="tw-text-sm tw-px-8 tw-py-2 tw-rounded ">Conditional Component</h4>
        </a>
        <a routerLink="/reusable" class=" tw-rounded tw-cursor-pointer hover:tw-bg-slate-200 tw-bg-slate-100">
            <h4 class="tw-text-sm tw-px-8 tw-py-2 tw-rounded ">Reusable Component</h4>
        </a>

        <a routerLink="/dynamic" class=" tw-rounded tw-cursor-pointer hover:tw-bg-slate-200 tw-bg-slate-100">
            <h4 class="tw-text-sm tw-px-8 tw-py-2 tw-rounded ">Dynamic Component</h4>
        </a>

        <a routerLink="/customized" class=" tw-rounded tw-cursor-pointer hover:tw-bg-slate-200 tw-bg-slate-100">
            <h4 class="tw-text-sm tw-px-8 tw-py-2 tw-rounded ">Customized Component</h4>
        </a>
    </div>
</div>